.layout-main {
  background-image: url('../assets/pattern.svg');
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 680px) {
  .layout-main {
    width: 100dvw;
    height: 100%;
  }
}


